include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erp_cms_theme *.css
recursive-include erp_cms_theme *.csv
recursive-include erp_cms_theme *.html
recursive-include erp_cms_theme *.ico
recursive-include erp_cms_theme *.js
recursive-include erp_cms_theme *.json
recursive-include erp_cms_theme *.md
recursive-include erp_cms_theme *.png
recursive-include erp_cms_theme *.py
recursive-include erp_cms_theme *.svg
recursive-include erp_cms_theme *.txt
recursive-exclude erp_cms_theme *.pyc